/******************** 
mixins 
********************/

.btn() {
	width: 185px;
	height: 75px;
	background-color: snow;
}


#profile {
	.btn();
}
#query {
	.btn();
}

#dbOpts{
	.btn();
}



/*****************************
Main Interace Classes and IDs
*****************************/
/*.jumbotron {
	background-image: url("../images/TempImg.jpg");
	background-size: cover;

}*/

.menu{
	display: flex;
	justify-content: space-evenly;
}
.nav-item {
	padding:10px;

}

.navbar-brand {
	
}



/**************************
Workspace classes and IDs 
***************************/
.sidebar{
	top: 50px;
	bottom: 0;
	display:block;
	padding: 20px;
	background-color: #e5e6e6;
}

.mainWS {
	top:25px;
}

.wsActionBtns {
	border-bottom: 3px solid black;
}