{% extends "mainInterface/header.html" %}

{% block content %}
<div id="img">
<img alt="Hello" class="profilePic" src="../images/logo.png" width="125px" height="125px">
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-9 profInfo"> 
      <h2 style="border-bottom:2px solid #ffc107;">TestUser </h2>
      <hr/>
      <p> Type of User: Engineer </p>
      <p> Department: Research and Development </p>
      <p> Organization: Drexel </p>
      <button class="btn btn-outline-warning btn-sm" type="submit">Edit Profile</button>

    </div>
    <div class="col-sm-3 boxes"> 
      <button class="btn btn-outline-warning btn-lg" type="submit">Saved Queries</button>
      <button class="btn btn-outline-warning btn-lg" type="submit">Saved Connection</button>

    </div>
  </div>
</div>
{% endblock %}