{% extends "mainInterface/header.html" %}

{% block content %}
	<div class="container">
  <div class="row" style="Color: Snow;">
    <div class="col-sm-2"> 

    </div>
    <div class="col-sm-8"> 
      <h1 style="border-bottom:2px solid #ffc107; text-align: center;"> The Team </h1>
      <h3> Andrew Rodriguez </h3>
      <p> Description of contributions and what I want to do in the future. </p>
      <h3> John Sinclair </h3>
      <p>  Description of contributions and what I want to do in the future.</p>
      <h3> John Strom </h3>
      <p>  Description of contributions and what I want to do in the future. </p>
      <h3> Dom Mastrangelo </h3>
      <p>  Description of contributions and what I want to do in the future. </p>

      <h1 style="border-bottom:2px solid #ffc107; text-align: center;"> The Stakeholders </h1>
      <p> Potential VP stakeholder John Talked too. How we connected with them? What they do and what they can do for us. </p>
      <br/>
      <p> Library data was receieved from .... </p>
      <br/>
      <h1 style="border-bottom:2px solid #ffc107; text-align: center;"> Our Goal </h1>
      <p> </p>
    </div>
   
    <div class="col-sm-2"> 

    </div>
  </div>
</div>
{% endblock %}