<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <title> YesSQL </title>
    <!--Jquery -->
    <script src="../js/jquery/jquery-3.3.1.js"></script>
    {% load staticfiles %}
    <link rel='stylesheet' href='/static/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet/less" type="text/css" href="/static/css/style.less"/>
  </head>
  <body>

  <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="mainInterface.html"><img alt="Brand" src="../images/logo.png" width="45px" height="45px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="mainInterface.html">Home</a>
        <a class="nav-item nav-link" href="http://www.cci.drexel.edu/seniordesign/index.html">Blog</a>
        <a class="nav-item nav-link" href="about.html">About</a>

      </div>
    </div>
  </nav>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
  </body>
</html>